{% extends 'base.html.twig' %}
{% block title %}VAC!T{% endblock %}
{% block body %}
<script>
    $(document).ready(function () {
        var mySlides = [
            {% for job in jobs %}
            {
                src: "{{job.technology.techpicture}}",
                title: "{{job.jobtitle}}<br>AT {{job.user.username}}"
            },
            {% endfor %}
        ];
        $("#background-image").vegas({
            slides: mySlides,
            timer: false,
            shuffle: true,
            delay: 1700,
            transition: 'slideLeft',
            walk: function (index, slideSettings) {
                $(".text-block h1").html(mySlides[index].title);
            }
        });
    })
</script>
<main class="content" style="background-color: #F15A25;">
    <div class="grid-x float-left margin-left-3">
        <div class="cell medium-12 hide-for-small-only">
            <div class="grid-x align-middle">
                <div class="vegashexagon float-left">
                    <div id="background-image" style="width: 300px; height: 300px; background-color: black;">
                        <div class="container">
                            <div class="text-block">
                                <h1
                                    style="text-align: center; color: white !important; font: arial !important; font-size: 18px; margin-left: 10%; margin-bottom: -15%;">
                                    Title</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/showAllJobs/">
                    <i class="fas fa-arrow-right" style="color: white; margin-top: 20%; font-size: 500%; margin-left: 265%;cursor: pointer;"></i>
                </a>
            </div>
        </div>
    </div>
<div class="grid-x margin-top-3 margin-left-1 margin-right-1">
    {% for job in jobs|slice(0,5) %}
    <div class="cell medium-12 small-12 margin-top-1 margin-bottom-2">
        <div class="grid-container">
            <div class="grid-x padding-x float-middle">

                <!-- for small -->
                <div class="cell small-4 margin-top-1 hide-for-medium">
                    <div class="hexagonhome" style="background-color: black !important;">
                        <img class="hexagonpic" src="{{ asset( job.technology.techpicture )}}"></img>
                    </div>
                </div>
                 <!-- for medium -->
                <div class="cell medium-2 hide-for-small-only">
                    <div class="hexagonhome" style="background-color: black !important;">
                        <img class="hexagonpic" src="{{ asset( job.technology.techpicture )}}"></img>
                    </div>
                </div>
                <div class="cell medium-8 small-8">
                    <p style="margin-bottom: -0.5%; font-size: 12px !important;">{{job.jobdate|date("d F Y")}}</p>
                    <h8 style="color: white !important; text-align: left !important; font: arial !important; font-size: 200%;">{{job.joblevel}} {{job.jobtitle}} at {{job.user.username}}</h8>
                <!-- for small -->
                    <div class="hide-for-medium">
                    {% autoescape false %}
                    <p style="margin-bottom: -0.5%;">{{job.jobdescription|slice(0, 100)}}...</p>
                     {% endautoescape %}
                    </div>
                <!-- for medium --> 
                    <div class="hide-for-small-only">
                        {% autoescape false %}
                        <p style="margin-bottom: -0.5%;">{{job.jobdescription|slice(0, 199)}}...</p>
                         {% endautoescape %}
                        </div>
                <!-- for small -->
                    <a class="btn btn-success float-left hide-for-medium margin-bottom-1" href="/showJob/{{job.id}}">
                        <i class="fas fa-arrow-right hide-for-medium" style="color: white; font-size: 200%; cursor: pointer;"></i>
                    </a>
                </div>
                <!-- for medium -->
                <div class="cell medium-2 hide-for-small-only">
                    <a class="float-right" href="/showJob/{{job.id}}">
                        <i class="fas fa-arrow-right float-left" style="color: white; margin-top: 60%; font-size: 400%; cursor: pointer;"></i>
                </a>
                </div>
            </div>
        </div>
    </div>
        {% endfor %}
    </div>
</main>
  <footer class="footer hide-for-medium">
        {% include "headerfooter/footerhome.html.twig" %}
        </footer>  
{% endblock %}