{% extends 'base.html.twig' %}

{% block title %}Candidate profile!{% endblock %}

{% block body %}


<div class="hexagon float-left margin-top-3">
{% if user.userpicture|length > 2 %}
    <img class="hexagonpic" src="{{ asset( user.userpicture )}}" id="imgactual" style="border: none"></img>
    {% else %}
    <img class="hexagonpic" src="https://lh3.googleusercontent.com/EbXw8rOdYxOGdXEFjgNP8lh-YAuUxwhOAe2jhrz3sgqvPeMac6a6tHvT35V6YMbyNvkZL4R_a2hcYBrtfUhLvhf-N2X3OB9cvH4uMw=w1064-v0" id="imgactual" style="border: none"></img>
    {% endif %}               
    </div>

  <div class="grid-container small-flex-child-auto margin-top-3 margin-bottom-3 width-75">

    <h2>MY PROFILE</h2>
  
    <div class="grid-x grid-margin-x">  
      <div class="cell medium-4 small-12 medium-cell-block-y">
        <label style="font-size: 60%;">Surname
          <p id="orangestripe">{{user.usersurname}}</p>
        </label>
      </div>
      <div class="cell medium-8 small-12 medium-cell-block-y">
        <label style="font-size: 60%;">Last name
          <p id="orangestripe">{{user.userlastname}}</p>
        </label>
      </div>
    </div>
      <div class="grid-x">
      <div class="medium-12 small-12 cell">
        <label style="font-size: 60%;">Email
          <p id="orangestripe">{{user.useremail}}</p>
        </label>
      </div>
    </div>
      <div class="grid-x grid-margin-x">
      <div class="medium-4 small-12 cell">
        <label style="font-size: 60%;">Date of birth
          <p id="orangestripe">{{user.userdob}}</p>
        </label>
       
      </div>
      <div class="medium-8 small-12 cell">
        <label style="font-size: 60%;">Phone number
          <p id="orangestripe">{{user.userphonenumber}}</p>
        </label>
      </div>
    </div>
      <div class="grid-x">
      <div class="medium-12 small-12 cell">
        <label style="font-size: 60%;">Address
          <p id="orangestripe">{{user.useraddress}}</p>
        </label>
      </div>
    </div>
      <div class="grid-x grid-margin-x">
      <div class="medium-4 small-12 cell">
        <label style="font-size: 60%;">Postcode
          <p id="orangestripe">{{user.userpostcode}}</p>
        </label>
      </div>
      <div class="medium-8 small-12 cell">
        <label style="font-size: 60%;">Province
          <p id="orangestripe">{{user.usercity}}</p>
        </label>
      </div>
    </div>
    <div class="grid-x">
    <div class="medium-12 small-12 cell">
      <h3>MOTIVATION</h3>
     {% autoescape false %}
   {{user.usermotivation}}
    {% endautoescape %}
     </div>
    </div>

<div class="medium-12 small-12">

    <div class="medium-8 small-8">
<a href="{{ asset(user.usercv) }}" download>
    <div style="display: inline-flex;">
    <i class="fas fa-file-pdf float-center" style="margin-top: 7%; color: #F15A24;"></i><h4 style="cursor: pointer; margin-bottom:-5%;">&nbsp; &nbsp;DOWNLOAD CV</h4>
   </div>
   </a>
</div>

{% if app.user.id == user.id %}
 <div class="medium-4 small-4 float-right">
  <a href="/updateUserProfile/{{app.user.id}}">
   <div style="display: inline-flex;">
      <i class="fas fa-arrow-right float-left" style="color: #F15A24;  font-size: 150%; cursor: pointer; margin-top: 3%;"></i><h4 class="float-right" style="cursor: pointer; font-family: Arial; color: #F15A24;">&nbsp; &nbsp;UPDATE PROFILE</p>
    </div>
    </a>
  </div>
{% endif %}
 </div>

    </div>
  </div>
  </div> 


{% endblock %}