{% extends 'base.html.twig' %}

{% block stylesheets %}
<script>
 $(document).ready(function() {
            let uploader = new ss.SimpleUpload({
                button: "uploadcv",
                url: "{{ path('upload_file') }}",
                name: 'file', // upload parameter name die gebruikt wordt in de controller
                responseType: 'json',
                allowedExtensions: ['png', 'jpg', 'jpeg', 'pdf'],
                hoverClass: 'hover-class-upload',
                focusClass: 'hover-class-upload',
                multiple: false,
                disabledClass: 'ui-state-disabled',
                autoSubmit: true,
                onSizeError: function() {
                    alert('File may not exceed 100MB');
                },
                onExtError: function() {
                    alert('Invalid file type. Please use a PNG, JPG or JPEG or PDF file');
                },
                onSubmit: function( filename, extension, uploadBtn, fileSize ) {
                    return(true);
                },
                onComplete: function (filename, response) {
                    if(response.success === false) {
                        alert(response.errors);
                    } else {
                      $("#cvfile").val(response.file_id);
                      $("#cvactual").attr("data-id", "/"+response.file_id);
                    }
                }
            });
        });
    </script>      
    <script>
 $(document).ready(function() {
            let uploader = new ss.SimpleUpload({
                button: "upload",
                url: "{{ path('upload_file') }}",
                name: 'file', // upload parameter name die gebruikt wordt in de controller
                responseType: 'json',
                allowedExtensions: ['png', 'jpg', 'jpeg', 'pdf'],
                hoverClass: 'hover-class-upload',
                focusClass: 'hover-class-upload',
                multiple: false,
                disabledClass: 'ui-state-disabled',
                autoSubmit: true,
                onSizeError: function() {
                    alert('File may not exceed 100MB');
                },
                onExtError: function() {
                    alert('Invalid file type. Please use a PNG, JPG or JPEG or PDF file');
                },
                onSubmit: function( filename, extension, uploadBtn, fileSize ) {
                    return(true);
                },
                onComplete: function (filename, response) {
                    if(response.success === false) {
                        alert(response.errors);
                    } else {
                      $("#imgfile").val(response.file_id);
                      $("#imgactual").attr("src", "/"+response.file_id);
                    }
                }
            });
        });
    </script>      
 {% endblock %}
 {% block title %}Update User Profile{% endblock %}
{% block body %}
<main class="content">

	<form method="post">
		<input type="hidden" name="user_cv" id="cvfile" value="{{user.usercv}}">
		<input type="hidden" name="user_picture" id="imgfile" value="{{user.userpicture}}">

		<div class="hexagon float-left margin-top-1" id="upload">
			{% if user.userpicture|length > 2 %}
				<img class="hexagonpic" src="{{ asset( user.userpicture )}}" id="imgactual" style="border: none"></img>
		{% else %}
			<img class="hexagonpic" src="https://lh3.googleusercontent.com/EbXw8rOdYxOGdXEFjgNP8lh-YAuUxwhOAe2jhrz3sgqvPeMac6a6tHvT35V6YMbyNvkZL4R_a2hcYBrtfUhLvhf-N2X3OB9cvH4uMw=w1064-v0" id="imgactual" style="border: none"></img>
	{% endif %}
</div>
<div class="grid-container small-flex-child-auto margin-top-3 margin-bottom-3 width-75">

	<h2>MY PROFILE</h2>

	<div class="grid-x grid-margin-x">
		<div class="cell medium-4 small-12 medium-cell-block-y">
			<label for="inputSurname" style="font-size: 60%;">Surname
				<input id="input" type="text" name="user_surname" id="inputSurname" value="{{user.usersurname}}">
			</label>
		</div>
		<div class="cell medium-8 small-12 medium-cell-block-y">
			<label for="inputLastname" style="font-size: 60%;">Last name
				<input id="input" type="text" name="user_lastname" id="inputLastname" value="{{user.userlastname}}">
			</label>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-12 small-12 cell">
			<label for="inputEmail" style="font-size: 60%;">Email
				<input id="input" type="text" name="user_email" id="inputEmail" value="{{user.useremail}}">
			</label>
		</div>
	</div>
	<div class="grid-x grid-margin-x">
		<div class="medium-4 small-12 cell">
			<label for="inputDOB" style="font-size: 60%;">Date of birth
				<input id="input" type="date" name="user_dob" id="inputDOB" value="{{user.userdob}}">
			</label>
		</div>
		<div class="medium-8 small-12 cell">
			<label for="inputPhone" style="font-size: 60%;">Phone number
				<input id="input" type="text" name="user_phone_number" id="inputPhone" value="{{user.userphonenumber}}">
			</label>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-12 small-12 cell">
			<label for="inputAddress" style="font-size: 60%;">Address
				<input id="input" type="text" name="user_address" id="inputAddress" value="{{user.useraddress}}">
			</label>
		</div>
	</div>
	<div class="grid-x grid-margin-x">
		<div class="medium-4 small-12 cell">
			<label for="inputPostcode" style="font-size: 60%;">Postcode
				<input id="input" type="text" name="user_postcode" id="inputPostcode" value="{{user.userpostcode}}">
			</label>
		</div>
		<div class="medium-8 small-12 cell">
			<label for="inputCity" style="font-size: 60%;">Province
				<input id="input" type="text" name="user_city" id="inputCity" value="{{user.usercity}}">
			</label>
		</div>
	</div>
	<div class="grid-x">
		<div class="medium-12 small-12 cell">
			<h3>MOTIVATION</h3>
			<textarea cols="80" id="editor1" name="user_motivation" rows="10">{{user.usermotivation}}</textarea>
		</div>
	</div>
	<div class="medium-12 small-12" id="bottom">
		<div class="medium-8 small-8 float-left" id="uploadcv">
			<div style="display: inline-flex;">
				<i class="fas fa-file-pdf" style="margin-top: 8%;"></i>
				<h4 style="cursor: pointer;">&nbsp; &nbsp;UPLOAD CV</p>
			</div>
		</div>
		<div class="medium-4 small-4 float-right" type="submit">
			<button class="btn btn-success float-right">
				<i class="fas fa-arrow-right float-left" style="color: #F15A24;  font-size: 150%; cursor: pointer; margin-top: 6%;"></i>
				<h4 class="float-right" style="cursor: pointer; font-family: Arial; color: #F15A24;">&nbsp; &nbsp;SAVE</p>
			</button>
		</div>
	</div>
</div>
</div>
</div>
</form>
</main>
<footer class="footer">
{% include "headerfooter/footer.html.twig" %}
</footer>  
{% endblock %}
{% block javascripts %}
<script>
    CKEDITOR.replace('editor1', {
      height: 150
    });
  </script>
{% endblock %}