{% extends 'base.html.twig' %}

{% block title %}User profile!{% endblock %}

{% block body %}


<form method="post">
    <svg style= "width: 8%; margin-left: 10%;" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" class="float-left margin-top-3 margin-left-3">
        <defs>
          <pattern id="img" patternUnits="userSpaceOnUse" width="100" height="100">
            <image xlink:href="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" x="-25" width="150%" height="100%" />
          </pattern>
        </defs>
        <polygon points="50 1 95 25 95 75 50 99 5 75 5 25" fill="url(#img)"/>
      </svg>
  <div class="grid-container width-75 padding-top-3">

    <h2>My Profile</h2>
    <div class="grid-x grid-padding-x">
        
      <div class="cell medium-4 medium-cell-block-y">
        <label for="inputSurname">Surname
          <input type="text" name="user_surname" id="inputSurname" value="{{user.usersurname}}" placeholder=".medium-6.cell">
        </label>
      </div>
      <div class="cell medium-8 medium-cell-block-y">
        <label for="inputLastname">Last name
          <input type="text" name="user_lastname" id="inputLastname" value="{{user.userlastname}}" placeholder=".medium-6.cell">
        </label>
      </div>
      <div class="medium-12 cell">
        <label for="inputEmail">Email
          <input type="text" name="user_email" id="inputEmail" value="{{user.useremail}}" placeholder=".medium-6.cell">
        </label>
      </div>
      <div class="medium-4 cell">
        <label for="inputDOB">Date of birth
          <input type="date" name="user_dob" id="inputDOB" value="{{user.userdob}}" placeholder=".medium-6.cell">
        </label>
      </div>
      <div class="medium-8 cell">
        <label for="inputPhone">Phone number
          <input type="text" name="user_phone_number" id="inputPhone" value="{{user.userphonenumber}}" placeholder=".medium-6.cell">
        </label>
      </div>
      <div class="medium-12 cell">
        <label for="inputAddress">Address
          <input type="text" name="user_address" id="inputAddress" value="{{user.useraddress}}" placeholder=".medium-6.cell">
        </label>
      </div>
      <div class="medium-4 cell">
        <label for="inputPostcode">Postcode
          <input type="text" name="user_postcode" id="inputPostcode" value="{{user.userpostcode}}" placeholder=".medium-6.cell">
        </label>
      </div>
      <div class="medium-8 cell">
        <label for="inputCity">Province
          <input type="text" name="user_city" id="inputCity" value="{{user.usercity}}" placeholder=".medium-6.cell">
        </label>
      </div>
    </div>
    <h3>Motivation</h3>
     <textarea cols="80" id="editor1" name="user_motivation" rows="10">{{user.usermotivation}}</textarea>
     <label for="fileUpload" class="button margin-top-2">Upload CV</label>
      <input type="file" id="fileUpload" class="show-for-sr">
      <input class="button float-right margin-top-2" type="submit" value="Save">
    </div>
  </div>
  
</form>

    <!-- <label for="inputMotivation">Motivation Letter</label>
    <input type="text" name="user_motivation" id="inputMotivation" value="{{user.usermotivation}}">
    <label for="inputCV">CV</label>
    <input type="text" name="user_cv" id="inputCV" value="{{user.usercv}}">
    <button class="btn btn-lg btn-primary" type="submit">
        Submit
    </button>
</form> -->
{% endblock %}
{% block javascripts %}
<script>
    CKEDITOR.replace('editor1', {
      height: 150
    });
  </script>
{% endblock %}
