{% extends 'base.html.twig' %}

{% block stylesheets %}
   <script>
        $(document).ready(function () {
            var table = $('#jobs').DataTable({
                destroy: true,
                      paging: false,
                      searching: false,
                      ordering: true,
                      bInfo: false,
                      fixedColumns: true,
                      bLengthChange: false,       
            });
        });
    </script>
{% endblock %}
{% block title %}Current Vacancies{% endblock %}

{% block body %}
<main class="content">
<div class="grid-x padding-x margin-top-3 margin-left-3 margin-right-3">

<div class="cell medium-12 small-12">
<h1 class="float-left">Current Vacancies</h1>
</div>

<div class="cell medium-12 small-12">

<table id="jobs" class="display nowrap dataTable order-column" style="border-collapse: collapse;
  table-layout: fixed;
  width: 100%;">
    <thead>
    <tr>
        <th id="tablehead">DATE</th>
        <th id="tablehead">TITLE</th>
        <th id="tablehead">COMPANY</th>
        <th id="tablehead">LOCATION</th>

    </tr>
    </thead>
    <tbody style="text-align: center;  text-overflow: clip; overflow: clip; white-space: nowrap">
    {% for job in jobs %}
    <tr>
    <td >{{job.jobdate|date("d/m/Y")}}</td>
    <td style="text-overflow: clip; overflow: clip; white-space: nowrap;"><a style="color: #F15A24 !important;" href="/showJob/{{job.id}}">{{job.jobtitle}}</a></td>
    <td style="text-overflow: clip; overflow: clip; white-space: nowrap;"><a style="color: #F15A24 !important;" href="/showUser/{{job.user.id}}">{{job.user.username}}</a></td>

    <td style="text-overflow: clip; overflow: clip; white-space: nowrap;">{{job.joblocation}}</td>

  
   </tr>
    {% endfor %}
    </tbody>
</table>
</div>

<div class="cell medium-12 small-12 margin-top-1 margin-bottom-1">
</div>
</main>
  <footer class="footer">
        {% include "headerfooter/footer.html.twig" %}
        </footer>  
{% endblock %}
