{% extends 'base.html.twig' %}

{% block stylesheets %}
   <script>
        $(document).ready(function () {
            var table = $('#jobs').DataTable({
                destroy: true,
                      paging: false,
                      searching: false,
                      ordering: true,
                      bInfo: false,
                      fixedColumns: true,
                      bLengthChange: false,       
            });
        });
    </script>
{% endblock %}
{% block title %}My Jobs{% endblock %}

{% block body %}
<div class="grid-x padding-x margin-top-3 margin-left-3 margin-right-3">

<div class="cell medium-12 small-12">
<h1 class="float-left">My Jobs</h1>
</div>




<div class="cell medium-12 small-12">

<table id="jobs" class="display nowrap dataTable order-column" style="border-collapse: collapse;
  table-layout: fixed;
  width: 100%;">
    <thead>
    <tr>
        <th id="tablehead">DATE</th>
        <th id="tablehead">TITLE</th>
        <th id="tablehead">LEVEL</th>
        <th id="tablehead">LOCATION</th>
        <th id="tablehead">UPDATE</th>
    </tr>
    </thead>
    <tbody style="text-align: center;  text-overflow: clip; overflow: clip; white-space: nowrap">
    {% for job in jobs %}
    
    <tr>
    <td >{{job.jobdate|date("d/m/Y")}}</td>
    <td style="text-overflow: clip; overflow: clip; white-space: nowrap;">{{job.jobtitle}}</td>
    <td style="text-overflow: clip; overflow: clip; white-space: nowrap;">{{job.joblevel}}</td>
    <td style="text-overflow: clip; overflow: clip; white-space: nowrap;">{{job.joblocation}}</td>
    <td><a href="/updateJob/{{job.id}}"><i class="fas fa-edit" style="  color: #F15A24;"></i></a></td>
  
   </tr>
    {% endfor %}
    </tbody>
</table>
</div>

<div class="cell medium-12 small-12 margin-top-1 margin-bottom-1">
    <a href="/createJob/">
    <h3 class="float-left"><i class="fas fa-arrow-right float-left" style="color: #F15A24;  font-size: 100%; margin-top: 3%; cursor: pointer;"></i>&nbsp; NEW JOB</h3>
    </a>
    </div>
</div>

{% endblock %}